@charset "utf-8";

#layout-footer .copyright.guest span { background: url("/aero-v1/sc/h/4fpohdxp9h505aqtxfp0um5xj") left top no-repeat scroll transparent; }

#layout-footer .lang-list--standardized-list { min-width: 200px; max-height: 300px; overflow: auto; }
